<DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../../css/global.css">
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Shaddock Simulator</a>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a id="username" href="#"></a></li>
			</ul>
	    </div>
	  </div>
	</nav>

	<div class="container-fluid bloccontent">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="row">
					<div class="col-md-3 infobloc weatherToday">
						<span id="weatherToday" class="meteotxt"></span>
						<em class="smallTitle">Weather Today</em>
					</div>

					<div class="col-md-3 infobloc weatherTomorrow">
						<span id="weatherTomorrow" class="meteotxt"></span>
						<em class="smallTitle">Weather Tomorow</em>
					</div>
					
					<div class="col-md-3 infobloc timer">
						<span id="timer" class="tempstxt"></span>
						<em class="smallTitle">Time</em>
					</div>

					<div class="col-md-3 infobloc budgetplayer">
						<span id="budgetplayer" class="budgettxt">
							0
						</span>
						<em class="smallTitle">Cost</em>
					</div>
				</div>
			</div>
		</div>

		<div id="inscriptionbloc" class="row">
			<div class="col-md-6 col-md-offset-3 centrerbloc">
				<h2 class="">Rejoindre la partie en cours</h2>
			  	<div class="centrerbloc">
			  		<form id="formGameJoin" class="centrerbloc" method="POST">
						<input type="text" name="name" id="name" placeholder="Votre pseudo">
						<input type="submit" name="gamestart" value="Demarer la partie">
					</form>
			  	</div>
			</div>
		</div>

		<div id="infogamebloc" class="row hidden">
			<div class="col-md-3">

			</div>
			<div class="col-md-6">
				<h1 class="grandtitre">Action du lendemain</h1>
				<div class="row">
					<form id="formproduction">
						<div class="col-md-3">
							<select id="recettadd" class=""></select>
						</div>
						<div class="col-md-3">
							<input id="quantity" type="number" class="" placeholder="Quantité">
						</div>
						<div class="col-md-3">
							<input id="prixvente" type="number" class="" placeholder="Prix Vente">
						</div>
						<div class="col-md-3">
							<input type="submit" id="btnaddrecette" value="Ajouter la recette">
						</div>
					</form>
				</div>


				<div class="row">
					<div class="col-md-3">
						Recette
					</div>
					<div class="col-md-3">
						Quantité
					</div>
					<div class="col-md-3">
						Prix Vente
					</div>
					<div class="col-md-3">
						Total Vente
					</div>
				</div>

				<div id="additemrecette" class="row">
					<div class="col-md-3">
						Totaux
					</div>
					<div id="totalqte" class="col-md-3">
						-
					</div>
					<div id="totalprixvent" class="col-md-3">
						-
					</div>
					<div id="totalventeprev" class="col-md-3">
						0
					</div>
				</div>

				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						<button id="valideracions" type="button" class="btn btn-default btn-lg btn-block">Valider</button>
					</div>
				</div>
			</div>
			<div class="col-md-3">

			</div>
		</div>

		<div id="infogamebloc" class="row hidden">
			<div id="mapbloc" class="col-md-7">
				<!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Map</a></li>
			    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Liste de joueurs</a></li>
			  </ul>

			  <!-- Tab panes -->
			  <div class="tab-content">	
			    <div role="tabpanel" class="tab-pane active" id="home">
			    	<!-- MAP -->
					<div class="col-md-12">
						<div class="header">
							<p class="title1">Stands & Panneaux Pub</p>
						</div>
						<div id="gameMap"></div>
						
					</div>
			    </div>
			    <div role="tabpanel" class="tab-pane" id="profile">
			    	
			    	<!-- JOUEURS EN LIGNE -->
					<div class="col-md-12">
						<div class="header">
							<p class="title1">Joueurs en ligne<span id="day">#jour</span></p>
						</div>
						<div >
							<ul id="playerList" class="list-group">
							  
							</ul>
						</div>
						<button id="reinitial" type="button" class="btn btn-xs btn-danger pull-right">
							Réinitialisation du jeu
						</button>
					</div>
			    </div>
			  </div>
			</div>

			<div class="col-md-5">
				
				<!-- INFORMATION DU JOUR -->
				<div id="playgamebloc" class="col-md-12">
					<div class="header">
				      <p class="title1">Information du jour <span id="day">#jour</span></p>      
				    </div>

				      <h4>Action du lendemain</h4> 
				      <div class="">
				        
				        <p id="alignCenter">Préparation de vos boissons</p>  
				        <div class="row">
				        	<form id="formproduction">
				        		<div class="col-md-3">
				        			
				        		</div>
				        		<div class="col-md-2">
				        			<span id="prixunitaire"></span>
				        		</div>
				        		<div class="col-md-2">
				        			
				        		</div>
				        		<div class="col-md-2">
				        			
				        		</div>
				        		<div class="col-md-3">
				        			
				        		</div>
			        		</form>
				        </div>

				        <div class="bloccentre">
						  
						  	<table id="playerpipe" class="table table-striped">
					        <thead>
					        	<tr>
					        		<th>Boisson</th>
					        		<th>Coût U</th>
					        		<th>Prix V</th>
					        		<th>QTT</th>
					        		<th>Coût T</th>
					        		<th>Prix VT</th>
					        		<th>Eff ligne</th>
					        	</tr>
					        </thead>
					        <tbody>
					          <!--<tr id="0">
					          	<td>..</td>
					          	<td>..</td>
					          	<td>..</td>
					          	<td>..</td>
					          	<td>..</td>
					          	<td>..</td>
					          	<td>
					          		<a  href="#" class="">
					          			<span id="0-btn" class="btnSuppRecette glyphicon glyphicon-trash"></span>
					          		</a>
					          	</td>
					          </tr>-->
					          
					        </tbody>
					        </table>
						 
						</div>


				        <div class="alignLeft">
				          <p>Somme totale du stand : <span id="sumStand">"total"</span>€</p>
				        </div>
				        <button id="valAction" type="button" class="btn btn-lg btn-success center-block">Valider l'action</button>
				      </div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="../../js/jquery.js"></script>
	<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../js/bootstrap-notify.min.js"></script>
	<script type="text/javascript" src="../../js/main.js"></script>
	
	
</body>
</html>