<DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../../css/global.css">
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Shaddock Simulator</a>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a class="btn btn-danger hidden" id="btnexitgame" href="#">Quitter la partie</a></li>
				<li><a id="username" href="#"></a></li>
			</ul>
	    </div>
	  </div>
	</nav>

	<div class="container-fluid bloccontent">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="row">
					<div class="col-md-3 infobloc weatherToday">
						<span id="weatherToday" class="meteotxt"></span>
						<em class="smallTitle">Weather Today</em>
					</div>

					<div class="col-md-3 infobloc weatherTomorrow">
						<span id="weatherTomorrow" class="meteotxt"></span>
						<em class="smallTitle">Weather Tomorow</em>
					</div>
					
					<div class="col-md-3 infobloc timer">
						<span id="timer" class="tempstxt"></span>
						<em class="smallTitle">Time</em>
					</div>

					<div class="col-md-3 infobloc budgetplayer">
						<span id="budgetplayer" class="budgettxt">
							0
						</span>
						<em class="smallTitle">Your Budget</em>
					</div>
				</div>
			</div>
		</div>

		<div id="inscriptionbloc" class="row">
			<div class="col-md-6 col-md-offset-3 centrerbloc">
				<h2 class="">Rejoindre la partie en cours</h2>
			  	<div class="centrerbloc">
			  		<form id="formGameJoin" class="centrerbloc" method="POST">
						<input type="text" name="name" id="name" placeholder="Votre pseudo">
						<input type="submit" name="gamestart" value="Demarrer la partie">
					</form>
			  	</div>
			</div>
		</div>

		<div id="infogamebloc" class="row hidden">
			<div class="col-md-3">

				<div class="row">
					<div class="col-md-6">
				      <div class="hero-widget well well-sm">
				        <div class="text infobloc profit">
				          <em class="titre2">Profit </em>
				          <span id="profit" class="profittxt"></span>
				        </div>
				      </div>
				    </div>
				    <div class="col-md-6">
				      <div class="hero-widget well well-sm">
				        <div class="text infobloc sales">
				          <em class="titre2">Sales</em>
				          <span id="sales" class="salestxt"></span>
				        </div>
				      </div>
				    </div>
			    </div>
			</div>
			<div class="col-md-6">
				<h1 class="grandtitre">Action du lendemain</h1>
				<div class="row">
					<form id="formproduction">

						<div class="col-md-3">
							<select class="form-control" id="recettadd" class=""></select>
						</div>
						<div class="col-md-2">
							<h5>Prix U. <span id="prixunitaire" class="label label-default"> - </span></h5>
						</div>
						<div class="col-md-2">
							<input id="quantity" type="number" class="form-control" placeholder="Quantité">
						</div>
						<div class="col-md-2">
							<input id="prixvente" type="number" class="form-control" placeholder="Prix Vente">
						</div>
						<div class="col-md-3">
							<input type="submit" id="btnaddrecette" class="form-control" value="Ajouter la recette">
						</div>
					</form>
				</div>


				<div class="row">
					<div class="col-md-3">
						Recette
					</div>
					<div class="col-md-3">
						Quantité
					</div>
					<div class="col-md-3">
						Prix Vente
					</div>
					<div class="col-md-3">
						Total Vente
					</div>
				</div>

				<div id="additemrecette" class="row">
					<div class="col-md-3">
						Totaux
					</div>
					<div id="totalqte" class="col-md-3">
						-
					</div>
					<div id="totalprixvent" class="col-md-3">
						-
					</div>
					<div id="totalventeprev" class="col-md-3">
						0
					</div>
				</div>

				<div class="row">
					<div class="col_md-6"></div>
					<div class="col_md-6"></div>

				</div>

				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						<button id="valideracions" type="button" class="btn btn-default btn-lg btn-block">Valider</button>
					</div>
				</div>
			</div>
			<div class="col-md-3 padding-none">
				<h1 class="grandtitre">Joueurs en ligne</h1>
				<div class="row">
					<div id="playerList" class="col-md-12">
						
					</div>
				</div>
				<a class="btn btn-danger" id="btnquitterpartie" href="#">Réinitialiser la partie</a>
			</div>
		</div>

	</div>

	<script type="text/javascript" src="../../js/jquery.js"></script>
	<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../js/bootstrap-notify.min.js"></script>
	<script type="text/javascript" src="../../js/main.js"></script>
	
	
</body>
</html>
