body {
  margin:0px;
  font-family: 'Helvetica';
  background-size: 1000px 600px;
  background-color: grey;
  opacity: 0.85;
}

#titleHeader {
  color:#000;
  text-align:center;
  font-size:100px;
}

.hero-widget { 
  text-align: center; 
  padding-top: 10px; 
  padding-bottom: 15px; 
  background-color: white
}

.smallTitle{
  display: block;
  font-size: 25px;
  color: #000;
}

.center {
  text-align:center;
}

#gameMap {
   width: 100%;
   height: 600px;
   background-color: white;
}

.alignLeft {
  font-size:large;
  text-align:left;
  text-decoration: underline;
}

.form-control {
  width: 120px;
}

tr {
  width: 100%;
  display: inline-table;
  font-size:smaller;
}

.bloccontent{
  margin-top: 60px;
}

.infobloc{
  height: 100px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
}

.title1{
  display: block;
  width: 100%;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
}

.bloccenter{
  display: block;
  width: 100%;
  background-color: #fff;
}

.margintobloc{
  margin-top: 10px;
}

.smallTitle{
  display: block;
  padding-top: 0px;
  padding-bottom: 5px;
  font-size: 20px;
  color: #000;
}
